
@media (max-width: 1540px) {
    .footer {
        width: 1540px;
    }
}

@media (max-width: 1280px) {
    .footer {
        width: 1280px;
    }
    .footer-logo, .footer-Region, .footer-number, .footer-city,
    .footer-inn, .footer-ogrn, .footer-social, .footer-hr, .footer-company {
        left: 100px;
    }
    .footer-column1 {
        left: 400px;
    }
    .footer-column2 {
        left: 650px;
    }
    .footer-column3 {
        left: 900px;
    }
    .footer-hr {
        width: 1090px;
    }
    .footer-map {
        left: 900px;
    }
}

@media (max-width: 1024px) {
    .footer {
        width: 1024px;
    }
    .footer-logo, .footer-Region, .footer-number, .footer-city,
    .footer-inn, .footer-ogrn, .footer-social, .footer-hr, .footer-company {
        left: 50px;
    }
    .footer-column1 {
        left: 300px;
    }
    .footer-column2 {
        left: 530px;
    }
    .footer-column3 {
        left: 780px;
    }
    .footer-hr {
        width: 940px;
    }
    .footer-map {
        left: 700px;
    }
}

@media (max-width: 820px) {
    .footer {
        width: 820px;
    }
    .footer-logo, .footer-Region, .footer-number, .footer-city,
    .footer-inn, .footer-ogrn, .footer-social {
        left: 20px;
    }
    .footer-column1 {
        left: 220px;
    }
    .footer-column2 {
        left: 440px;
    }
    .footer-column3 {
        left: 630px;
    }
    .footer-hr {
        left: 20px;
        width: 770px;
    }
    .footer-company {
        left: 20px;
    }
    .footer-map {
        left: 500px;
    }
}

@media (max-width: 768px) {
    .footer {
        width: 768px;
        height: 500px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        left: 20px;
    }
    .footer-Region {
        left: 20px;
    }
    .footer-number, .footer-city, .footer-inn, .footer-ogrn, .footer-social {
        font-size: 12px;
        left: 20px;
    }
    .footer-social {
        left: 20px;
    }
    .footer-column1 {
        left: 200px;
    }
    .footer-column2 {
        left: 400px;
    }
    .footer-column3 {
        left: 600px;
    }
    .footer-hr {
        top: 450px;
        left: 20px;
        width: 720px;
    }
    .footer-company {
        font-size: 12px;
        top: 460px;
        left: 20px;
    }
    .footer-map {
        font-size: 12px;
        top: 460px;
        left: 450px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li {
        font-size: 12px;
    }
    .footer-column1-p, .footer-column2-p, .footer-column3-p {
        font-size: 12px;
    }
}

@media (max-width: 691px) {
    .footer {
        width: 690px;
        height: 500px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        top: 20px;
        left: 20px;
    }
    .footer-Region {
        left: 340px;
        top: 10px;
    }
    .footer-number {
        top: 40px;
        left: 340px;
    }
    .footer-city {
        top: 60px;
        left: 340px;
    }
    .footer-inn {
        top: 60px;
        left: 20px;
    }
    .footer-ogrn{
        top: 80px;
        left: 20px;
    }
    .footer-social {
        top: 20px;
        left: 220px;
    }
    .footer-column1 {
        top: 120px;
        left: 20px;
    }
    .footer-column2 {
        top: 120px;
        left: 250px;
    }
    .footer-column3 {
        top: 120px;
        left: 470px;
    }
    .footer-hr {
        top: 450px;
        left: 20px;
        width: 650px;
    }
    .footer-company {
        font-size: 12px;
        top: 460px;
        left: 20px;
    }
    .footer-map {
        font-size: 12px;
        top: 460px;
        left: 380px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li {
        font-size: 12px;
    }
    .footer-column1-p, .footer-column2-p, .footer-column3-p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .footer {
        width: 600px;
        height: 500px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        top: 20px;
        left: 20px;
    }
    .footer-Region {
        left: 340px;
        top: 10px;
    }
    .footer-number {
        top: 40px;
        left: 340px;
    }
    .footer-city {
        top: 60px;
        left: 340px;
    }
    .footer-inn {
        top: 60px;
        left: 20px;
    }
    .footer-ogrn{
        top: 80px;
        left: 20px;
    }
    .footer-social {
        top: 20px;
        left: 220px;
    }
    .footer-column1 {
        top: 120px;
        left: 20px;
    }
    .footer-column2 {
        top: 120px;
        left: 220px;
    }
    .footer-column3 {
        top: 120px;
        left: 420px;
    }
    .footer-hr {
        top: 450px;
        left: 20px;
        width: 570px;
    }
    .footer-company {
        font-size: 12px;
        top: 460px;
        left: 20px;
    }
    .footer-map {
        font-size: 12px;
        top: 460px;
        left: 300px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li,
    .footer-column1-p, .footer-column2-p, .footer-column3-p{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .footer {
        width: 500px;
        height: 450px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        top: 20px;
        left: 20px;
    }
    .footer-Region {
        font-size: 10px;
        left: 330px;
        top: 10px;
    }
    .footer-number {
        top: 40px;
        left: 330px;
    }
    .footer-city {
        top: 60px;
        left: 330px;
    }
    .footer-inn {
        font-size: 10px;
        top: 60px;
        left: 20px;
    }
    .footer-ogrn{
        font-size: 10px;
        top: 80px;
        left: 20px;
    }
    .footer-social {
        top: 20px;
        left: 220px;
    }
    .footer-social-vk, .footer-social-telegram {
        width: 35px;
        height: 35px;
    }
    .footer-column1 {
        top: 120px;
        left: 20px;
    }
    .footer-column2 {
        top: 120px;
        left: 190px;
    }
    .footer-column3 {
        top: 120px;
        left: 350px;
    }
    .footer-hr {
        top: 410px;
        left: 20px;
        width: 470px;
    }
    .footer-company {
        font-size: 10px;
        top: 420px;
        left: 20px;
    }
    .footer-map {
        font-size: 10px;
        top: 420px;
        left: 250px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li,
    .footer-column1-p, .footer-column2-p, .footer-column3-p{
        font-size: 10px;
    }
    .footer-column1-p, .footer-column2-p, .footer-column3-p {
        width: 150px;
    }
}

@media (max-width: 420px) {
    .footer {
        width: 420px;
        height: 430px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        top: 20px;
        left: 10px;
    }
    .footer-Region {
        font-size: 10px;
        left: 240px;
        top: 10px;
    }
    .footer-number {
        top: 40px;
        left: 240px;
    }
    .footer-city {
        top: 60px;
        left: 240px;
    }
    .footer-inn {
        font-size: 10px;
        top: 60px;
        left: 10px;
    }
    .footer-ogrn{
        font-size: 10px;
        top: 80px;
        left: 10px;
    }
    .footer-social {
        top: 350px;
        left: 300px;
    }
    .footer-social-vk, .footer-social-telegram {
        width: 35px;
        height: 35px;
    }
    .footer-column1 {
        top: 120px;
        left: 10px;
    }
    .footer-column2 {
        top: 120px;
        left: 150px;
    }
    .footer-column3 {
        top: 120px;
        left: 280px;
    }
    .footer-hr {
        top: 390px;
        left: 10px;
        width: 390px;
    }
    .footer-company {
        font-size: 8px;
        top: 400px;
        left: 10px;
    }
    .footer-map {
        font-size: 8px;
        top: 400px;
        left: 210px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li {
        font-size: 9px;
    }
    .footer-column1-p, .footer-column2-p, .footer-column3-p {
        font-size: 8px;
        width: 150px;
    }
    .footer-column1-ul, .footer-column2-ul, .footer-column3-ul {
        top: 30px;
    }
}

@media (max-width: 400px) {
    .footer {
        width: 400px;
        height: 450px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        top: 20px;
        left: 10px;
    }
    .footer-Region {
        left: 240px;
        top: 10px;
    }
    .footer-Region-p1 {
      font-size: 10px;
        top: 10px;
    }
    .footer-Region-a {
        top: 20px;
        left: 70px;
        font-size: 12px;
    }
    .footer-number {
        font-size: 10px;
        top: 40px;
        left: 240px;
    }
    .footer-city {
        font-size: 10px;
        top: 60px;
        left: 240px;
    }
    .footer-inn {
        font-size: 10px;
        top: 60px;
        left: 10px;
    }
    .footer-ogrn{
        font-size: 10px;
        top: 80px;
        left: 10px;
    }
    .footer-social {
        top: 370px;
        left: 300px;
    }
    .footer-social-vk, .footer-social-telegram {
        width: 35px;
        height: 35px;
    }
    .footer-column1 {
        top: 120px;
        left: 10px;
    }
    .footer-column2 {
        top: 120px;
        left: 140px;
    }
    .footer-column3 {
        top: 120px;
        left: 270px;
    }
    .footer-hr {
        top: 410px;
        left: 10px;
        width: 370px;
    }
    .footer-company {
        font-size: 8px;
        top: 420px;
        left: 10px;
    }
    .footer-map {
        font-size: 8px;
        top: 420px;
        left: 190px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li{
        font-size: 9px;
    }
    .footer-column1-ul, .footer-column2-ul, .footer-column3-ul {
        top: 20px;
    }
    .footer-column1-p, .footer-column2-p, .footer-column3-p {
        font-size: 8px;
        width: 150px;
    }
}

@media (max-width: 360px) {
    .footer {
        width: 360px;
        height: 500px;
    }
    .footer-logo {
        width: 160px;
        height: 40px;
        top: 20px;
        left: 10px;
    }
    .footer-Region {
        left: 210px;
        top: 10px;
    }
    .footer-Region-p1 {
        font-size: 10px;
        top: 10px;
    }
    .footer-Region-a {
        top: 23px;
        left: 70px;
        font-size: 11px;
    }
    .footer-number {
        font-size: 10px;
        top: 40px;
        left: 210px;
    }
    .footer-city {
        font-size: 10px;
        top: 60px;
        left: 210px;
    }
    .footer-inn {
        font-size: 10px;
        top: 60px;
        left: 30px;
    }
    .footer-ogrn{
        font-size: 10px;
        top: 80px;
        left: 30px;
    }
    .footer-social {
        top: 370px;
        left: 40px;
    }
    .footer-social-vk, .footer-social-telegram {
        width: 35px;
        height: 35px;
    }
    .footer-column1 {
        top: 120px;
        left: 30px;
    }
    .footer-column2 {
        top: 120px;
        left: 200px;
    }
    .footer-column3 {
        top: 300px;
        left: 200px;
    }
    .footer-hr {
        top: 470px;
        left: 10px;
        width: 370px;
    }
    .footer-company {
        font-size: 7px;
        top: 480px;
        left: 10px;
    }
    .footer-map {
        font-size: 7px;
        top: 480px;
        left: 180px;
    }
    .footer-column1-li, .footer-column2-li, .footer-column3-li{
        font-size: 9px;
    }
    .footer-column1-ul, .footer-column2-ul, .footer-column3-ul {
        top: 20px;
    }
    .footer-column1-p, .footer-column2-p, .footer-column3-p {
        font-size: 8px;
        width: 150px;
    }
}